@font-face {
    font-family: Robotoslab;
    src: url(./Fonts/RobotoSlab-VariableFont_wght.ttf);
}
html{ 
    background-color: rgb(61, 64, 91);
}
header{
    display: flex;
    flex-direction: column;
    align-content: center;
}
button#toSavedGames{
    margin: 2vh;
}
body{
    padding: 0;
    margin: 0;
}
img#slide {
    position: relative;
    z-index: 0;
    object-fit: cover;
    size: 100%;
    width: 100%;
}
div#slideDetails{
    display: flex;
    justify-content: space-around;
    color:white;
    background-color: rgb(0,0,0);
    border: 1px solid rgb(155,140,250);
}
p#slideTitle{
    padding: 0.5vh;
}
p#slideTitle:hover{
    cursor: pointer;
}
p#slideGenre{
    padding: 0.5vh;
}
p#slideGenre:hover{
    cursor: pointer;
}
p#slideRelease{
    padding: 0.5vh;
}
p#slideRelease:hover{
    cursor: pointer;
}
p#seeMore{
    padding: 0.5vh;
    border: 3px solid gray ;
    border-radius: 10%;
}
a#seeMore{
    text-decoration: none;
    color: white;
}
p#seeMore:hover{
background-color: rgba(140,140,140,0.5);
text-decoration: underline solid white 2px;
}
p#greeting {
    text-align: center;
    background-color: rgb(255,255,255);
    font-family: Robotoslab;
    margin: 0.5vh;
    padding-bottom: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}
p#greeting:hover{
    cursor: pointer;
}
div#queryDiv{
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 241, 222);
    align-items: center;
}
p#requestParagraph {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
p#requestParagraph:hover{
    cursor: pointer;
}
button#clueless {
    border-radius: 5px;
    margin-bottom: 1vh;
}
div#gameDisplayDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
p#title{
    margin-top: 0.02vh;
    margin-bottom: 1vh;
    color: black;
    background-color: white;
    text-decoration: underline double black 2px;
}
p#title:hover{
    cursor: pointer;
}
img#thumbnail{
    border-radius: 5px;
    box-shadow: 0 0.2vh 0.8vh 0 rgba(0,0,0,0.3);
}
img#thumbnail:hover{
    box-shadow: 0 0.4vh 1.6vh 0 rgba(0,0,0,0.5);
}
div#prettyDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#more_info{
    display: flex;
    flex-direction: column;
}
p#genre{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 0;
}
p#genre:hover{
    cursor: pointer;
}
p#release_date{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
p#release_date:hover{
    cursor: pointer;
}
p#moreInfoButton{
    text-align: center;
    margin: 0;
    border: 0.1vh;
    padding: 0.5vh;
    background-color: rgb(0,0,0,0.2);
    border: 2px;
    border-radius: 15px;
}
p#moreInfoButton:hover{
    background-color: rgb(0,0,0,0.3);
    text-decoration: underline solid white 2px;
    cursor: pointer;
}
p#platform{
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 0;
}
p#publisher{
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 0;
}
p#developer{
    text-align: center;
    margin: 0;
}
div#extras{
    text-align: center;
}
div#queryDiv1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 241, 222);
}
div#navDiv{
    display: flex;
    justify-content: space-between;
    width:100vw;
}
div.div0{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:aliceblue;
    border: 1px solid black;
    padding: 5vh 0;
}
p.title{
    margin-top: 0.02vh;
    margin-bottom: 1vh;
    color: black;
    background-color: white;
    text-decoration: underline double black 2px;
}
img.img{
    border-radius: 5px;
    box-shadow: 0 0.2vh 0.8vh 0 rgba(0,0,0,0.3);
}
img.img:hover{
    box-shadow: 0 0.4vh 1.6vh 0 rgba(0,0,0,0.5);
}
div.div1{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
p.genre{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 0;
}
p.genre:hover{
    cursor: pointer;
}
p.release_date{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
p.release_date:hover{
    cursor:pointer;
}
p.platform{
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 0;
}
p.publisher{
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 0;
}
p.developer{
    text-align: center;
    margin: 0;
}
p.descriptionTitle{
    margin-top: 3vh;
    margin-bottom: 0;
    text-decoration: underline;
}
p.description{
    text-align: center;
}
div#listDiv{
    display: flex;
    flex-direction: column;
    background-color: rgb(205, 237, 246);
}
p#gameNotFound{
    text-align: center;
}